﻿@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact App</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div style="position: absolute; left: 50%; transform:translateX(-50%);">
                    <app-root></app-root>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/angular")
</body>
</html>
