<div *ngIf="contact">
  <button (click)="backClicked()">Back</button>
  <a href="/#/manage?id={{contact.id}}">Edit</a>
  <button (click)="deleteContact(contact.id)">Delete</button>

  <div>
    First Name: {{contact.firstName}}
  </div>
  <div>
    Last Name: {{contact.lastName}}
  </div>
  <div>
    Organization: {{contact.organization}}
  </div>
  <div>
    Address: {{contact.address}}
  </div>
  <div>
    Organization: {{contact.organization}}
  </div>
  <h4>Emails:</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let email of contact.emails">
      {{email.emailAddress}}
    </li>
  </ul>
  <h4>Telephones:</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let telephone of contact.telephones">
      {{telephone.phoneNumber}}
    </li>
  </ul>
  <h4>Tags:</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let tag of contact.tags">
      {{tag.tagName}}
    </li>
  </ul>
</div>
