<a href="/#/manage">create</a>

<div>
    <label>Filter By Tags</label>
    <input type="text" (keyup)="onTagKey($event)" />
</div>

<div>
    <label>Filter By First name or last name</label>
    <input type="text" (keyup)="onKey($event)"/>
</div>


<ul>
    <li *ngFor="let contact of contactsList">
        <a href="/#/detail?id={{contact.id}}">
            {{contact.firstName}}
        </a>
        <div>
          <h4>Tags :</h4>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let tag of contact.tags">
              {{tag.tagName}}
            </li>
          </ul>
        </div>
    </li>
</ul>
