<div *ngIf="form">
    <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <label>First Name
            <input type="text" formControlName="firstName">
        </label>

        <label>Last Name
            <input type="text" formControlName="lastName">
        </label>

        <label>Organization
            <input type="text" formControlName="organization">
        </label>

        <label>Address
            <input type="text" formControlName="address">
        </label>

        <div formArrayName="telephones">
            <div *ngFor="let telephone of form.controls.telephones.controls; let i=index">
                <div [formGroupName]="i">
                  <div style="display: flex; margin-bottom: 10px;">
                        <phone [phoneGroup]="form.controls.telephones.controls[i]"></phone>
                        <span class="btn btn-danger" *ngIf="form.controls.telephones.controls.length > 1" (click)="removeFromArray(i,'telephones')">
                        Delete Number
                        </span>
                  </div>
                </div>
            </div>
        </div>
        <div>
            <span class="btn btn-success" (click)="addPhone()">
                Add Another Telephone
            </span>
        </div>
        <div formArrayName="emails">
            <div *ngFor="let email of form.controls.emails.controls; let i=index">
                <div [formGroupName]="i">
                  <div style="display: flex; margin-bottom: 10px;">
                        <label>Email Address</label>
                        <input type="text" formControlName="emailAddress">
                        <span class="btn btn-danger" *ngIf="form.controls.emails.controls.length > 0" (click)="removeFromArray(i,'emails')">
                          Delete Address
                        </span>
                        <input type="hidden" formControlName="id">
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <span class="btn btn-success" (click)="addEmail()">
                Add Another Email
            </span>
        </div>
        <div formArrayName="tags">
                <div *ngFor="let tag of form.controls.tags.controls; let i=index">
                    <div [formGroupName]="i">
                      <div style="display: flex; margin-bottom: 10px;">
                            <label>Tag Name</label>
                            <input type="text" formControlName="tagName">
                            <span class="btn btn-danger" *ngIf="form.controls.tags.controls.length > 0" (click)="removeFromArray(i,'tags')">
                              Delete Tag
                            </span>
                            <input type="hidden" formControlName="id">
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <span class="btn btn-success" (click)="addTag()">
                    Add Another Tag
                </span>
            </div>
        <input type="submit" value="Save Data">
    </form>

    <div *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong>
        <br>{{payLoad}}
    </div>
</div>
